# Ox Lib permit
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.steam:11000013f5fbf6a group.admin #BARSKY
add_principal identifier.steam:110000141751868 group.admin #BONOBON

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands
add_principal identifier.steam:11000013f5fbf6a qbcore.god #BARSKY

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

#Report
add_ace group.admin reportmenu.admin.view allow     # View all reports
add_ace group.admin reportmenu.admin.manage allow   # Manage status/priority
add_ace group.admin reportmenu.admin.delete allow   # Delete reports
add_ace group.mod reportmenu.mod.view allow         # View all reports
add_ace group.mod reportmenu.mod.manage allow       # Update status only