# These resources will start by default.
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
# ensure baseevents

# QBCore & Extra stuff
#Core
ensure oxmysql
ensure ox_lib
ensure qb-core
ensure fs-guard

#mods
ensure tk_assets
ensure K4MB1-StarterShells
ensure assets-balkot

#Dependencies
ensure ox_target
ensure ox_inventory
ensure tk_modul
ensure MugShotBase64
ensure cdn-fuel
ensure qb-vehiclekeys
ensure tk_disnaker
ensure vehicleshop
ensure xsound
ensure ox_compat
ensure tk_admin
ensure tk_apanel
ensure minigames
ensure glitch-minigames
# ensure tk_jobs
ensure tk_radial
ensure mka-lasers

#Data
ensure [qb]
ensure [standalone]
ensure [voice]
# ensure [devs]
ensure tk_utility
ensure illenium-appearance
ensure tk_identification
ensure ac_scoreboard
ensure chat
ensure Renewed-Banking
ensure ps-dispatch
ensure dpclothing
ensure tk_illegal
ensure vehcontrol
ensure rpemotes
ensure hud
ensure k5_documents
ensure mm_radio
ensure Renewed-Weathersync
ensure lation_247robbery
ensure tk_visual
ensure tk_jewelry
ensure tgg-contracts
ensure peleg-billing
ensure knxr-antitroll
ensure bcs_housing
ensure rahe-racing
ensure tk_report

#Jobs
ensure tk_blips
ensure tk_companymenu
ensure qb-policejob
ensure qb-ambulancejob
ensure qb-mechanicjob
ensure pickle_prisons
ensure ps-mdt
ensure popcornrp-customs
ensure Renewed-Sirensync

#bank
ensure bankprops
ensure memorygame
ensure numbers
ensure tk_powerplant
ensure tk_bankrobbery