#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 5
set steam_webApiKey "787E54580BC9B5E81320E465028AAFA5"
sets tags "indonesia, indo, roleplay, rp, titikkumpul, tikumrp"
sets discord "https://discord.gg/a9SPzgegrp"

## You MAY edit the following:
sv_licenseKey "cfxk_Zzu40BhgRXMUIGsgVzcz_qtqqR"
sv_hostname "TITIK KUMPUL ROLEPLAY INDONESIA"
sets sv_projectName "TITIK KUMPUL ROLEPLAY INDONESIA"
sets sv_projectDesc "Masih dalam tahap pengembangan, launching awal september!!!"
sets locale "id-ID" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
sv_enforceGameBuild 2944 #DLC The Chop Shop
set resources_useSystemChat false
set mysql_connection_string "mysql://root@localhost/tikumrp?charset=utf8mb4"

# Voice config
exec voice.cfg

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# Renewed-Weathersync config
setr weather_disablecd true

exec config.cfg
exec resources.cfg

## Permissions ##
exec permissions.cfg

## Miscellaneous ##
exec misc.cfg